<style>
    @import "components/semantic/dist/semantic.css";
</style>
<div class="ui top fixed menu">
    <a class="item" id="home">
        <i class="huge home icon"></i> <strong>Home</strong>
    </a>
    <a class="item" id="backup" style="display:{{displayTabs}}">
        <i class="huge upload icon"></i> <strong>Backup</strong>
    </a>
    <a class="item" id="restore" style="display:{{displayTabs}}">
        <i class="huge download icon"></i> <strong>Restore</strong>
    </a>
    <a class="item" id="schedule" style="display:{{displayTabs}}">
        <i class="huge calendar icon"></i> <strong>Schedule</strong>
    </a>
</div>
<div class="ui basic attached segment" id="panel" style="padding-top:100px;padding-bottom:60px;border-bottom:0px">
    <h2>
        {{#selectedBackup.group}}
        <strong>{{selectedBackup.group}}</strong>
        {{/selectedBackup.group}}
        {{^selectedBackup.group}}
        <strong>Backups</strong>
        {{/selectedBackup.group}}
    </h2>
    <div class="ui divider"></div>
    <ui-home style="display:{{displayHome}}"></ui-home>
    <ui-backup style="display:{{displayBackup}}"></ui-backup>
    <ui-restore style="display:{{displayRestore}}"></ui-restore>
    <ui-schedule style="display:{{displaySchedule}}"></ui-schedule>
</div>