<style>
    @import "components/semantic/dist/semantic.css";
</style>
<label><strong>Select folder and snapshot for restore</strong></label>
<div class="ui divider"></div>
<ui-file ui-label="Restore To Folder" ui-placeholder="Where should the restore go?" ui-value="{{restorePath}}"></ui-file>
<div class="ui relaxed divided list">
    {{#loading}}
    <i class="large notched circle loading icon"></i>
    {{/loading}}
    {{#snapshots}}
    <div class="item">
        <div class="right floated content">
            <i class="big arrow circle down grey link icon" id="restore-{{index}}"></i>
        </div>
        <i class="large caret right grey icon"></i>
        <div class="middle aligned content">
            {{.}}
        </div>
    </div>
    {{/snapshots}}
</div>
<div class="ui bottom fixed menu">
</div>