<style>
    @import "components/semantic/dist/semantic.css";
</style>

<label><strong>Configure the backup schedule</strong>{{#error}}<strong style="color:red"> - {{error}}</strong>{{/error}}</label>
<div class="ui divider"></div>

<ui-input ui-label="Job" ui-placeholder="When should the backup start?" ui-type="text" ui-value="{{job}}"></ui-input>
<div class="ui hidden divider" style="margin:4px"></div>

<div class="ui top attached secondary segment header">Cron Job Guide</div>
<div class="ui bottom attached segment">
    <code>
    <strong>
    *    *    *    *    *    *
    </strong><br/>
    ┬    ┬    ┬    ┬    ┬    ┬<br/>
    │    │    │    │    │    |<br/>
    │    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)<br/>
    │    │    │    │    └───── month (1 - 12)<br/>
    │    │    │    └────────── day of month (1 - 31)<br/>
    │    │    └─────────────── hour (0 - 23)<br/>
    │    └──────────────────── minute (0 - 59)<br/>
    └───────────────────────── second (0 - 59, OPTIONAL)<br/>
    <strong>
    Unsupported Cron Features
    </strong><br/>
    Currently, W (nearest weekday), L (last day of month/week), and # (nth weekday of the month) are not supported. Most other features supported by popular cron implementations should work just fine.
    <code>
</div>

<div class="ui bottom fixed menu">
    <a class="item" id="schedule">
        <i class="save icon"></i> <strong>Save Schedule</strong>
    </a>
</div>